body {
	background-image: url(../images/grocery.jpg);
	background-size: 100%;
}

ul {
	list-style: none;
}

li {
	margin-top: .3em;
}

.instructions {
	float: left;
	width: 35em;
	margin-left: 10em;
}

.list {
	float: right;
	width: 35em;
	margin-right: 10em;
	padding-top: 1em;
	padding-bottom: 1em;
}

.instructions,
.list {
	background-color: #3251A6;
	color: #8BED6C;
	margin-top: 10em;
	text-align: center;
	border-width: .15em;
	border-color: #8BED6C;
	border-style: solid;
	border-radius: .5em;
	font-family: 'Gloria Hallelujah', cursive;
}

button {
	color: #EB324B;
	background-color: #CAD6F9;
	border: none;
	border-radius: .5em;	
}

button:hover {
	background-color: #98AEEB;
}

.purchased {
	text-decoration: line-through;
}


.list-items li > button {
	float: right;
	margin-right: 1em;
}

.input {
	color: #3251A6;
}

.check {
	float: left;
}