html { 
  background: url(../images/grocery.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

ul {
	list-style: none;
}

li {
	margin-top: .3em;
}

.list {
	background-color: #3251A6;
	color: #8BED6C;
	margin-top: 10em;
	text-align: center;
	border-width: .15em;
	border-color: #8BED6C;
	border-style: solid;
	border-radius: .5em;
	font-family: 'Gloria Hallelujah', cursive;
	width: 35em;
	margin-right: auto;
	margin-left: auto;
	padding-top: 1em;
	padding-bottom: 1em;
}

button {
	color: #EB324B;
	background-color: #CAD6F9;
	border: none;
	border-radius: .5em;	
}

button:hover {
	background-color: #98AEEB;
}

span:hover {
	cursor: pointer;
}

.purchased {
	text-decoration: line-through;
}


.list-items li > button {
	float: right;
	margin-right: 1em;
}

.input {
	color: #3251A6;
}

#check {
	float: left;
}